/* UTILS
------------------------------------------------------------------------*/

.pseudo {
  content: " ";
  font-size: 0;
  display: block;
}

.clear {
  &:before, &:after{
    @extend .pseudo;
    clear: both;
  }
}