/* VARIABLES
------------------------------------------------------------------------*/

/* COLORS */
$c-neonDarkBlue: #0e5368;
$c-neonBrightGreen: #6fedb0;
$c-neonCyan: #28b0da;
/* GUTTERS */
$gutter: remify(20px);

/* BASIC BREAKPOINTS */
$tabl-bk: remify(640px); // normal tablet
$desk-bk: remify(980px); // normal desk
$desk-lg-bk: remify(1440px); // destop large
$desk-hg-bk: remify(1620px); // desktop huge
$desk-in-bk: remify(1940px); // insane desktop