/* VARIABLES
------------------------------------------------------------------------*/

/* GUTTERS */
$gutter: remify(16px);

/* BASIC BREAKPOINTS */
$tabl-bk: remify(640px); // normal tablet
$desk-bk: remify(980px); // normal desk
$desk-lg-bk: remify(1440px); // destop large
$desk-hg-bk: remify(1620px); // desktop huge
$desk-in-bk: remify(1940px); // insane desktop