{% extends "layout.njk" %}

{% block content %}

<header class="header" role="banner">
  <div class="wrapper">
    <a href="https://www.neon.com.br/" class="logo header__logo" target="_blank">
      <img src="./assets/img/neon-logo-01.png" alt="" class="logo__img hide--desktop">
      <img src="./assets/img/neon-logo-02.png" alt="" class="logo__img hide--mobile">
    </a>

    <div class="header__resume">
      <span class="header__label">Saldo</span>
      <span class="header__cipher"><span class="header__currency">{{account.currencyUILabel}}</span><span class="header__value">{{account.balance}}</span></span>
    </div>
  </div>
</header>

<main class="balance" role="main">
  <header class="balance__header">

    <div class="wrapper">
      <time class="balance__year" datetime="2017-10-38 20:00">{{account.extractYear}}</time>

      <div class="header__welcome">Bem-vindo</div>
    </div>

  </header>

  <section class="balance__body">
    <div class="balance__content">
      <ul class="carousel balance__carousel">

        {% for extract in account.extracts %}
        <li class="carousel__item">

          <div class="wrapper">
            <ul class="extract balance__extract">

              {% for item in extract.items %}
              <li class="extract__item">
                <div class="extract__label"><span>{{item.categoryUILabel}}</span></div>
                <div class="extract__type">{{item.typeUILabel}}</div>
                <div class="extract__cipher"><span class="extract__currency">{{account.currencyUILabel}}</span><span class="extract__value">{{item.value}}</span></div>

                <div class="extract__options">
                  <button class="extract__exlude"><span>Excluir</span></button>
                  <button class="extract__configure"><span>Configurar</span></button>
                </div>

              </li>
              {% endfor %}

            </ul>
          </div>

        </li>
        {% endfor %}

      </ul>
    </div>
  </section>
</main>

{% endblock %}
