$controlsHeight: remify(45px);

.carousel {
  white-space: nowrap;
  font-size: 0;

  overflow-x: auto;
  padding: 0 $gutter;
  // margin: 0 -($gutter);

  position: relative;
  height: calc(100%);

  padding-bottom: $controlsHeight;

  transition: filter 300ms linear;

  &.apply-blur .carousel__item {
    filter: url('#blur');
  }
}

.carousel__item {
  white-space: normal;
  font-size: 1rem;

  display: inline-block;
  width: 100%;

  height: 100%;

  + .carousel__item {
    margin-left: ($gutter / 2);
  }
}

.carousel__content {
  background-color: $c-neonCyan;
  height: 100%;

  border-radius: ($gutter / 2);
  overflow: hidden;

  max-width: remify(480px);

  > .wrapper {
    height: 100%;
    padding-top: $gutter;
    padding-bottom: $gutter;
    overflow: auto;
  }
}

.carouselControl {
  height: $controlsHeight;
  width: 100%;

  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;

  text-align: center;
}

.carouselControl__item {
  display: inline-block;

  &.is-current .carouselControl__link {
    opacity: 1;
  }
}

.carouselControl__link {
  font-size: 0;

  display: block;
  height: 18px;
  width: 18px;

  border-radius: ($gutter / 4);
  border: solid 1px $c-neonCyan;
  opacity: .5;

  transition: opacity 240ms linear;

}

/* For desktop + */
@include above($desk-bk) {
  .carousel__content {
    width: 100%;
    margin: 0 auto;
  }
}