.carousel {
  white-space: nowrap;
  font-size: 0;

  overflow-x: auto;
  padding: 0 $gutter;
  // margin: 0 -($gutter);

  position: relative;
  height: 100%;
}

.carousel__item {
  white-space: normal;
  font-size: 1rem;

  display: inline-block;
  width: 100%;
  max-width: remify(480px);
  height: 100%;
  overflow: hidden;

  background-color: $c-neonCyan;
  border-radius: ($gutter / 2);

  + .carousel__item {
    margin-left: ($gutter / 2);
  }

  > .wrapper {
    height: 100%;
    overflow: auto;

    padding-top: $gutter;

  }
}